.navbar {
    font-family: Arial, sans-serif;
  }
  
  .nav-link {
    color: #333;
  }
  
  .nav-link:hover {
    color: #ff6600; /* For the hover effect on the links */
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-brand img {
    margin-right: 5px;
  }
      