/* src/app/landing-page/landing-page.component.css */
.landing-page {
    background: linear-gradient(90deg, #353636, #eff0f1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }
  
  .content-wrapper {
    border: 2px solid #f1eaea;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.2);
  }
  
  .text-content {
    color: rgb(243, 233, 233);
    max-width: 50%;
  }
  
  .text-content h1 {
    font-size: 3rem;
    color: rgb(244, 244, 244);
  }
  
  .text-content h2 {
    font-size: 2.5rem;
    color: #1589f0;
  }
  
  .text-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 20px 0;
    color: #fffdfd;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
  }
  
  .newsletter-form button {
    padding: 10px;
    background-color: #1589f0;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-form button:hover {
    background-color: #2072b9;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    
  }
  .bg-dark {
    background-color: #ecedf0 !important;
    /* position: fixed; */
    width: 100%;
    height: 68px;
    background-color: #fff;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    /* z-index: 6; */
    /* transition: all 0. */
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}


.nav-container {
  padding: 10px 0;
  font-family: 'Arial', sans-serif;
}

.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container ul li {
  position: relative;
}

.nav-container ul li a {
  display: block;
    font-size: 16px;
    line-height: 20px;
    color: #231f20;
    letter-spacing: 1.25px;
    font-weight: 400;
    padding: 24px 0;
    cursor: pointer;
}

.nav-container ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.sticky-nav-tabs-container {
  padding: 0;
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.sticky-nav-tabs-container li {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #231F20;
  letter-spacing: 1.25px;
  font-weight: 400;
  margin-left: 65px;
}
.header {
  position: fixed;
  width: 100%;
  height: 68px;
  background-color: #fff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  z-index: 6;
  transition: all 0.4s;
}
.sticky-nav-tabs-container li .sticky-nav-tab {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #231F20;
  letter-spacing: 1.25px;
  font-weight: 400;
  padding: 24px 0;
  cursor: pointer;
}

/* footer */

 /* footer code  */
/* Apply these styles to the body and html to ensure full height */
/* Ensure the page takes the full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Wrapper to ensure footer is at the bottom */
.footer-warp{
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

/* Main content takes up the available space before the footer */
main {
  flex: 1;
  padding: 20px; /* Adjust as necessary */
}

/* Footer styles */
footer {
  padding: 80px 0;
    background-color: #807b7c;
    z-index: 1;

  /* margin-top: auto; Pushes footer to the bottom */
  position: relative;
}
.footer-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
header-wrap, .footer-wrap, .l-section-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.foot-col.copyright-sec {
  width: 18%;
}
.foot-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 8%;
}
.copyright-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.copyright-block .foot-logo {
  display: inline-block;
  margin-bottom: 10px;
}
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4.35px;
  color: #FF8616;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}
.copyright-block span {
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  font-weight: 400;
}
footer h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
h6 {
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3.23px;
}
/* .follow-us-listing {
  font-size: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
} */
.follow-us-listing li {
  display: inline-block;
  margin-left: 15px;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.follow-us-listing li:first-child {
  margin: 0;
}
.follow-us-listing li {
  display: inline-block;
  margin-left: 15px;
}
ul li, ol li {
  font-size: inherit;
}

ul li, ol li {
  font-size: inherit;
}

ul li, ol li {
  font-size: inherit;
}
.foot-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 8%;
}
footer h6.resources {
  border: 0;
}
footer h6.toggle {
  position: relative;
}
footer h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
h6 {
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3.23px;
}
.foot-link-block li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
.foot-link-block .foot-link {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0px;
}
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4.35px;
  color: #FF8616;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}
.foot-link-block li:last-child {
  margin: 0;
}
.foot-link-block li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
ul li, ol li {
  font-size: inherit;
}
.foot-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 8%;
}
footer h6.toggle {
  position: relative;
}
footer h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
h6 {
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3.23px;
} 
.foot-link-block {
  font-size: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.foot-link-block li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
ul li, ol li {
  font-size: inherit;
}
.foot-link-block li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
ul li, ol li {
  font-size: inherit;
}
.foot-link-block li:last-child {
  margin: 0;
}
.foot-link-block li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
ul li, ol li {
  font-size: inherit;
} 
.foot-link-block li:last-child {
  margin: 0;
}
.foot-link-block li {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
ul li, ol li {
  font-size: inherit;
} 
footer h6.toggle {
  position: relative;
}
footer h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
h6 {
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3.23px;
}
.foot-link-block {
  font-size: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.foot-col.subscription-sec {
  width: 23%;
}
.foot-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 8%;
}
footer h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
h6 {
  font-size: 11px;
  line-height: 14px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3.23px;
}
.foot-link-block {
  font-size: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.mob-view {
  display: none;
}
element.style {
  justify-content: center;
}
.follow-us-listing {
  font-size: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: inline-block;
  margin-left: 15px;
}
img {
  border: 0;
  max-width: 100%;
}
.follow-us-listing li:first-child {
  margin: 0;
}

ul li, ol li {
  font-size: inherit;
}
img[_ngcontent-ng-c2306899274] {
  border: 0;
  max-width: 100%;
}
img[_ngcontent-ng-c2306899274] {
  border: 0;
  max-width: 100%;
}
img[_ngcontent-ng-c2306899274] {
  border: 0;
  max-width: 100%;
}
img[_ngcontent-ng-c2306899274] {
  border: 0;
  max-width: 100%;
}
user agent stylesheet
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.follow-us-listing[_ngcontent-ng-c2306899274] {
  font-size: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.follow-us-listing[_ngcontent-ng-c2306899274] {
  font-size: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.follow-us-listing li:first-child {
  margin: 0;
}
.follow-us-listing li {
  display: inline-block;
  margin-left: 15px;
}
ul li, ol li {
  font-size: inherit;
}
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4.35px;
  color: #FF8616;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}
img {
  border: 0;
  max-width: 100%;
}
.follow-us-listing li {
  display: inline-block;
  margin-left: 15px;
}
ul li, ol li {
  font-size: inherit;
} 
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4.35px;
  color: #FF8616;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}
img {
  border: 0;
  max-width: 100%;
}
.follow-us-listing li {
  display: inline-block;
  margin-left: 15px;
}
ul li, ol li {
  font-size: inherit;
}
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4.35px;
  color: #FF8616;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}
img {
  border: 0;
  max-width: 100%;
}
.follow-us-listing li {
  display: inline-block;
  margin-left: 15px;
}
ul li, ol li {
  font-size: inherit;
}
a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4.35px;
  color: #FF8616;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}
