/* src/app/landing-page/landing-page.component.css */
.landing-page {
    background: linear-gradient(90deg, #222323, #868a9a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
  }
  
  .content-wrapper {
    border: 2px solid #f1eaea;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2.2);
  }
  
  .text-content {
    color: rgb(243, 233, 233);
    max-width: 50%;
  }
  
  .text-content h1 {
    font-size: 3rem;
    color: rgb(244, 244, 244);
  }
  
  .text-content h2 {
    font-size: 2.5rem;
    color: #1589f0;
  }
  
  .text-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 20px 0;
    color: #fffdfd;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
  }
  
  .newsletter-form button {
    padding: 10px;
    background-color: #1589f0;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-form button:hover {
    background-color: #2072b9;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .bg-dark {
    background-color: #ecedf0 !important;
    /* position: fixed; */
    width: 100%;
    height: 68px;
    background-color: #fff;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    /* z-index: 6; */
    /* transition: all 0. */
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}


.nav-container {
  padding: 10px 0;
  font-family: 'Arial', sans-serif;
}

.nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-container ul li {
  position: relative;
}

.nav-container ul li a {
  display: block;
    font-size: 16px;
    line-height: 20px;
    color: #231f20;
    letter-spacing: 1.25px;
    font-weight: 400;
    padding: 24px 0;
    cursor: pointer;
}

.nav-container ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.sticky-nav-tabs-container {
  padding: 0;
  list-style-type: none;
}
ul {
  display: block;
  list-style-type: disc;
  padding-left: 2.5em;
}
ol, ul {
  list-style: none;
}
.sticky-nav-tabs-container li {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #231F20;
  letter-spacing: 1.25px;
  font-weight: 400;
  margin-left: 65px;
}
.header {
  position: fixed;
  width: 100%;
  height: 68px;
  background-color: #fff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  z-index: 6;
  transition: all 0.4s;
}
.sticky-nav-tabs-container li .sticky-nav-tab {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #231F20;
  letter-spacing: 1.25px;
  font-weight: 400;
  padding: 24px 0;
  cursor: pointer;
}