body, html {
    height: 100%;
    margin: 0;
    font: 14px / 1.3 "Helvetica Neue", Arial, sans-serif;
    
  }
  
  .landing-page {
    background: linear-gradient(90deg, #353636, #eff0f1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
  }
  
  .content-wrapper {
    border: 2px solid #f1eaea;
    padding: 20px;
    display: flex;
    max-width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .text-content h1 {
    font-size: 3rem;
    color: #f4f4f4;
  }
  
  .newsletter-form input,
  .newsletter-form button {
    padding: 10px;
    border-radius: 25px;
    border: none;
  }
  
  .newsletter-form button:hover {
    background-color: #a6b9c9;
  }
  
  footer {
    padding: 80px 0;
    background-color: #232222;
  }
  
  .footer-wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .foot-col {
    flex: 1;
    margin-right: 15px;
  }
  
  .follow-us-listing {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .follow-us-listing li {
    margin-left: 15px;
  }

  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: flex-end; 
  }

  /* Fixed header styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  body {
    padding-top: 70px; 
  }
  
  
  